[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
pandas = "*"
numpy = "==1.26"
pyarrow = "*"
evidently = "==0.4.20"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
